{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>Заголовок: {{ post.title }}</h2>
<p>Текст статьи: {{ post.post }}</p><br>
<p>Автор поста: {{ post.author }}</p><br>
<table>
    {% for comment in comments %}
    <tr>
        <td><a href="{% url 'author' comment.author.id %}">Автор комментария: {{ comment.author }}</a></td>
        <td>Комментарий: {{ comment.comment }}</td>
        <td>Дата публикации: {{ comment.publish_date }}</td>
        {% if not comment.publish_date == comment.change_date %}
        <td>Дата изменения: {{ comment.change_date }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}